name: {{ service['name'] }}
type: Scheduled Job

image:
  build:
    dockerfile: {{ '.nixpacks/Dockerfile' if ('nixpacks' in repo_features) else 'Dockerfile' }}
    context: .
    platform: x86_64
    cache_from:
      - ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com/${COPILOT_APPLICATION_NAME}/${COPILOT_SERVICE_NAME}:latest

on:
  schedule: "{{ service['schedule'] }}"

retries: 0
timeout: 15m

environments:
{%- for environment in service['environments'].values() %}
  {%- set resources = environment['service_resources'] %}
  {%- set specifications = environment['specifications'] %}
  {{ environment['details']['account_name'] }}:
    secrets:
    {%- for secret in resources['secrets'] %}
      # secret {{ secret['name'] }} items:
      {%- for secret_item_key, secret_item_value in secret['items'].items() %}
      {%- set secrets_manager_group = secret_item_value.split(":secret:")[-1] %}
      {{ secret_item_key }}:
        secretsmanager: '{{ secrets_manager_group }}:{{ secret_item_key }}::'
      {%- endfor %}
    {%- endfor %}
{%- endfor %}

cpu: {{ service['cpu'] | default('1024')}}
memory: {{ service['memory'] | default('2048') }}
platform: {{ service['platform'] | default('linux/x86_64') }}

network:
  vpc:
    placement: private

command: ["{{ service['command'] }}"]