name: {{ service['name'] }}
type: Static Site

files:
  - source: {{ service['repository_public_path'] }}
    recursive: true

environments:
{%- for environment in service['environments'].values() %}
  {%- set resources = environment['service_resources'] %}
  {%- set specifications = environment['specifications'] %}
  {{ environment['details']['account_name'] }}:
    {%- if 'hostname' in specifications %}
    http:
      certificate: {{ resources['ssl_certificates'][0]['arn'] }}
      alias: {{ specifications['hostname'] }}
    {%- endif %}
{%- endfor %}