- op: remove
  path: /Resources/ExecutionRole/Properties/Policies/0/PolicyDocument/Statement/0/Condition
- op: remove
  path: /Resources/ExecutionRole/Properties/Policies/0/PolicyDocument/Statement/1/Condition